@model MVCWebApi.Models.Urun

@{
    ViewBag.Title = "YeniUrun";
}

<h2>YeniUrun</h2>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document)
        .ajaxError(function (event, jqxhr, settings, exception) {
            if (exception == "Conflict") {//conflict çalışmıyor.
                alert("Sistemde kayıt bulunmaktadır.");
            }
        })
        .ready(function () {
            $('#kaydet').click(function () {
                var urunId = $('#Id').val();
                var ad = $('#Ad').val();
                var kategoriAd = $('#KategoriAd').val();
                var fiyat = $('#Fiyat').val();

                $.post('../api/Urun', { Id: urunId, Ad: ad, KategoriAd: kategoriAd, Fiyat: fiyat }, function (sonuc) {
                    alert('Kaydetme işlemi başarılı');
                })

            })
        })
</script>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Urun</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Id, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Ad, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Ad, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Ad, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.KategoriAd, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.KategoriAd, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.KategoriAd, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Fiyat, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Fiyat, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Fiyat, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" value="Create" id="kaydet" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
